[submodule "modulo-aulas"]
	path = modulo-aulas
	url = https://github.com/Proyecto-Nuclear/modulo-aulas.git
[submodule "modulo-asignaturas"]
	path = modulo-asignaturas
	url = https://github.com/Proyecto-Nuclear/modulo-asignaturas.git
[submodule "modulo-docentes"]
	path = modulo-docentes
	url = https://github.com/Proyecto-Nuclear/modulo-docentes.git
[submodule "modulo-sedes"]
	path = modulo-sedes
	url = https://github.com/Proyecto-Nuclear/modulo-sedes.git
[submodule "modulo-usuarios"]
	path = modulo-usuarios
	url = https://github.com/Proyecto-Nuclear/modulo-usuarios.git
[submodule "modulo-automatizacion"]
	path = modulo-automatizacion
	url = https://github.com/Proyecto-Nuclear/modulo-automatizacion.git
